# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.cache/

# Environments
venv/
.env
.env.*

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Others
*.log
logs/
README.md
old/
